{{> head }}
{{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>America de cali</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis voluptas ducimus vero earum omnis magnam eligendi, repellat repellendus ullam veritatis repudiandae beatae et soluta exercitationem eveniet magni cumque explicabo facilis.
            </p>
        </div>

        <div class="col-4">
            <img src="assets/img/america.jpg" class="img-thumbnail">
        </div>

    </div>

{{> footer }}

